<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="website showing various restaurants" />
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restaurant Catalog</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header class="header">
      <div class="container_headertitle">
        <h1 class="header_title">Restaurant Catalog</h1>
      </div>
      <a id="hamburger" href="#" aria-label="navigation-menu">☰</a>
      <nav>
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item">
            <a href="https://github.com/adamchandra9">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero_inner">
        <h1>Find The Best Restaurant</h1>
        <p>The best restaurant in all of Indonesia</p>
      </div>
    </div>
    <main id="maincontent">
      
    </main>
    <footer>copyright &#169; 2021 - Restaurant Catalog</footer>
  </body>
</html>
